# Ignore the following files in GIT #
######################################

# Python compiled files #
#########################
*.pyc
*.orig

# temporary files for calculation #
#########################


# temporary boundary condition files #
######################################


# Output-Files #
########################
/addmo_examples/results/**
/aixtra_use_case/sweeps/wandb/**
/aixtra_use_case/sweeps/artifacts/**
/aixtra_use_case/results/**
/aixtra_use_case/artifacts/**
/aixtra_use_case/wandb/**
/0000_testfiles/wandb/**
/parallel_sweeps/wandb/**
**/wandb/**
#Eclipse Settings #
#####################
/.settings
.project
.pydevproject

#Spyder Settings #
#####################
.spyderproject

#PyCharm Settings #
#####################
.idea

#Unit tests #
#####################
.cache/
*/__pycache__/
.coverage
.pytest_cache

#pip install #
#####################
*.egg-info/
*.egg/
*.eggs
dist
*.pypirc

#ignore docs#
#####################

doc/_build

extrapolation_detection/aixtra_use_case/results/RISHIKA_TEST/local_logger/config.json
build/*